{% extends 'bootstrap/base.html' %}
{% block title %}The Value of an Action{% endblock %}
{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hi, I'm John</h1>
            <span class="subheading">Once and future engineer.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Technology executive. Former justice director. One time management consultant. Founded a centre to enable everyone to play my beloved but exclusive sport. Past life as a biophysicist and computer engineer, back when cutting DNA was hard and microfluidic sensors didn't involve Theranos.</p>
        <p>This is where I dump my articles that don't fit neatly elsewhere in my life. Most of these describe my belated and fitful attempts to regain my technical skills after years of being a manager.</p>
        <p>Want to read more? Click the links below.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
  {% endblock %}